
  .font-magic {
      color: rgb(133, 228, 161) !important;
      font-family: 'Permanent Marker', cursive;
      text-shadow: 5px 10px 5px rgb(20, 20, 20);
  }

  .inicio {
      background-image: url('../../../assets/img/fondo-home-reformado.jpg' );
      background-size: cover;
      align-items: center;
  }

  .inicio .img-container {
    margin-top: 40px;
    border-radius: 50%;
    opacity: 1;
    width: 250px;
    box-shadow: 4px 4px 20px  rgb(20, 20, 20);
    max-width: 100%;
    height: auto;
 
  }

  .inicio .img-container:hover {
  
    box-shadow: 4px 4px 20px  rgb(65, 197, 164);
  
    transition: all .2s ;
 
}
  .inicio .img-profile{
    border: 7px solid  #ececec;
  }

  .inicio .about-me{
    background-color: rgb(20, 20, 20);
   font-family: 'Modak', cursive;
    color: #ececec;
    margin-top: 40px;
    align-items: center;
    font-size: 50px;
    text-shadow: 10px 5px 10px  rgb(20, 20, 20); ;
    max-width: 100%;
    height: auto;
  }
  .inicio .about-me .rows{
    background-color: rgb(20, 20, 20);
    font-family: 'Modak', cursive;
    color: #ececec;
    margin-top: 10px;
     font-size: 15px;
   
  }

  .section{
  
    background-color:  rgb(20, 20, 20);
  }

  .red-social .a {
      background-color: #ececec;
      border-radius: 50%;
      display: inline-block;
      text-decoration: none;
      border: 4px solid #171a1d;
      width: 54px;
      height: 54px;
      line-height: 45px;
      margin: 44px 14px;
      margin-left: 5px;
      transition: 3.ms;
      font-size: 25px;
  }

  .red-social .a:hover {
    background-color: rgb(133, 228, 161) ;
    border: radius 50%;
    cursor: pointer;
    transform: scale(1.1);

  }

  .card-local {
      border-radius: 5%;
      background-color: #0F2027;

  }

  .description {
    font-family: 'Bakbak One', cursiv;
      font-size: 20px;
      color: #ececec;
      max-width: 100%;
    height: auto;
  }

  .description .h1{
    font-family: 'Bakbak One', cursiv;
      font-size: 50px;
      color: #ececec;
  }

  .description .p{
    font-family: 'Bakbak One', cursiv;
      font-size: 20px;
      color: #ececec;
  }
  .color-second-primary{
    background-color: rgb(133, 228, 161) ;
    color: rgb(0, 0, 0) ;
    
  }

 