@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Bebas+Neue&family=Modak&family=Pacifico&family=Permanent+Marker&display=swap');

.font-magic {
  color: rgb(133, 228, 161) !important;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 5px 10px 5px rgb(20, 20, 20);
}

.about-me {
  background-color: rgb(20, 20, 20);
  font-family: 'Modak', cursive;
  color: #ececec;
  margin-bottom: 5px;
  align-items: center;
  font-size: 50px;
  text-shadow: 10px 5px 10px rgb(20, 20, 20);
 }

.inicio .about-me .rows {
  background-color: rgb(20, 20, 20);
  font-family: 'Modak', cursive;
  color: #ececec;
  margin-top: 10px;
  font-size: 15px;
}

.section {
  background-color: rgb(20, 20, 20);
}



.card-local {
  width: 100px;
  height: 100px;
  border-radius: 5%;
  background-color: rgb(20, 20, 20);
  margin: 10px;
}

.description {
  font-family: 'Bakbak One', cursiv;
  font-size: 20px;
  color: #ececec;
}

.description small {
  font-family: 'Bakbak One', cursiv;
  font-size: 15px;
  color: #ececec;
}

.description .h1 {
  font-family: 'Bakbak One', cursiv;
  font-size: 50px;
  color: #ececec;
}

.description .p {
  font-family: 'Bakbak One', cursiv;
  font-size: 20px;
  color: #ececec;
}

.color-second-primary {
  background-color: rgb(133, 228, 161);
  color: rgb(0, 0, 0);

}
.a {
    font-weight: bold;
      }
      
      .a:hover {
          background-color: rgb(133, 228, 161) ;
          border: radius 50%;
          cursor: pointer;
          transform: scale(1.1);
      
        }
  
