
.font-magic {
  color: rgb(133, 228, 161) !important;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 5px 10px 5px rgb(20, 20, 20);
}

.about-me {
  background-color: rgb(20, 20, 20);
  font-family: 'Modak', cursive;
  color: #ececec;
  margin-bottom: 5px;
  align-items: center;
  font-size: 50px;
  text-shadow: 10px 5px 10px rgb(20, 20, 20);
}

.inicio .img-profile {
  border: 7px solid #ececec;
}

.section {
  background-color: rgb(20, 20, 20);
}

.card-local {
  border-radius: 5%;
  background-color: #0F2027;

}

.description {
  font-family: 'Bakbak One', cursiv;
  font-size: 20px;
  color: #ececec;
}

.color-second-primary {
  background-color: rgb(133, 228, 161);
  color: rgb(0, 0, 0);
}
